body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey-big-box {
    background-color: #36393e;
    border-radius: 5px;
    width: 70%;
    height: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

.welcome-back-heading {
    color: aliceblue;
    margin-left: 160px;
    margin-top: 30px;
    font-size: 25px;
}

.we-excited-text {
    color: aliceblue;
    margin-left: 135px;
    font-size: 17px;
}

.red-ash {
    color: red;
}

.entering-email-or-phone-number {
    color: #B5BAC1;
    font-size: 12px;
    font-weight: bolder;
    margin-left: 30px;
}

.input-email-or-phone-number,
.input-password {
    width: 420px;
    padding: 10px;
    background-color: #282b30;
    color: #fff;
    border: none;
    outline: none;
}

.entering-password {
    color: #B5BAC1;
    font-size: 12px;
    font-weight: bolder;
    margin-left: 30px;
}

.login-button {
    width: 430px;
    height: 45px;
    margin-left: 30px;
    background-color: #5865F2;
    cursor: pointer;
    color: #fff;
    border: none;
}

.login-button:hover {
    background-color: #4752C4;
}

.forgot-password {
    margin: 12px 0 12px 30px;
}

.need-an-account {
    margin: 12px 0 12px 30px;
    color: rgba(240, 248, 255, 0.733);
}

.need-an-account a,
.forgot-password a {
    text-decoration: none;
}

.need-an-account a:hover,
.forgot-password a:hover {
    text-decoration: underline;
}

.right-section {
    color: aliceblue;
    margin-top: -340px;
    margin-left: 530px;
    margin-right: 20px;
    text-align: center;
}

.login-with-qr-code {
    font-size: 25px;

}

.image {
    width: 170px;
    height: 170px;
    border-radius: 5px;
    margin-left: 20px;
}

.scan-to-login-text {
    font-size: 16px;
    color: rgba(240, 248, 255, 0.733);
}